ResearchersWPF.UI/Connected Services/svcRequest/RequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61740/Services/RequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/RequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRequestService_GetPresentationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationRequest" />
  </wsdl:message>
  <wsdl:message name="IRequestService_GetPresentationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IRequestService_GetReportRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportRequest" />
  </wsdl:message>
  <wsdl:message name="IRequestService_GetReportRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IRequestService">
    <wsdl:operation name="GetPresentationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestService/GetPresentationRequest" message="tns:IRequestService_GetPresentationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestService/GetPresentationRequestResponse" message="tns:IRequestService_GetPresentationRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRequestService/GetReportRequest" message="tns:IRequestService_GetReportRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRequestService/GetReportRequestResponse" message="tns:IRequestService_GetReportRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRequestService" type="tns:IRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPresentationRequest">
      <soap:operation soapAction="http://tempuri.org/IRequestService/GetPresentationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportRequest">
      <soap:operation soapAction="http://tempuri.org/IRequestService/GetReportRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestService">
    <wsdl:port name="BasicHttpBinding_IRequestService" binding="tns:BasicHttpBinding_IRequestService">
      <soap:address location="http://localhost:61740/Services/RequestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>