ResearchersWPF/ResearchersWPF.UI/Connected Services/svcReport/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="RegisterNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseYear" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
</xs:schema>