ResearchersWPF/ResearchersWPF.UI/Connected Services/svcMonograph/MonographService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61740/Services/MonographService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
  <xs:element name="GetMonographByResearcher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="researcherId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonographByResearcherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="GetMonographByResearcherResult" nillable="true" type="q1:ArrayOfMonograph" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonograph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="researcherId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="monograph" nillable="true" type="q2:Monograph" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonographResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMonographResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonograph">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="monograph" nillable="true" type="q3:Monograph" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonographResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonograph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monographId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonographResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonograph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monographId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonographResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="GetMonographResult" nillable="true" type="q4:Monograph" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>