ResearchersWPF/ResearchersWPF.UI/Connected Services/svcMonograph/MonographService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMonograph">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Monograph" nillable="true" type="tns:Monograph" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonograph" nillable="true" type="tns:ArrayOfMonograph" />
  <xs:complexType name="Monograph">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoauthorFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoauthorLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoauthorMiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageCount" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Monograph" nillable="true" type="tns:Monograph" />
</xs:schema>