ResearchersWPF/ResearchersWPF.UI/Connected Services/svcMonograph/MonographService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonographService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61740/Services/MonographService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/MonographService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/MonographService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonographService_GetMonographByResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonographByResearcher" />
  </wsdl:message>
  <wsdl:message name="IMonographService_GetMonographByResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonographByResearcherResponse" />
  </wsdl:message>
  <wsdl:message name="IMonographService_AddMonograph_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMonograph" />
  </wsdl:message>
  <wsdl:message name="IMonographService_AddMonograph_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMonographResponse" />
  </wsdl:message>
  <wsdl:message name="IMonographService_UpdateMonograph_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMonograph" />
  </wsdl:message>
  <wsdl:message name="IMonographService_UpdateMonograph_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMonographResponse" />
  </wsdl:message>
  <wsdl:message name="IMonographService_DeleteMonograph_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMonograph" />
  </wsdl:message>
  <wsdl:message name="IMonographService_DeleteMonograph_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMonographResponse" />
  </wsdl:message>
  <wsdl:message name="IMonographService_GetMonograph_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonograph" />
  </wsdl:message>
  <wsdl:message name="IMonographService_GetMonograph_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonographResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonographService">
    <wsdl:operation name="GetMonographByResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonographService/GetMonographByResearcher" message="tns:IMonographService_GetMonographByResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonographService/GetMonographByResearcherResponse" message="tns:IMonographService_GetMonographByResearcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMonograph">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonographService/AddMonograph" message="tns:IMonographService_AddMonograph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonographService/AddMonographResponse" message="tns:IMonographService_AddMonograph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMonograph">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonographService/UpdateMonograph" message="tns:IMonographService_UpdateMonograph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonographService/UpdateMonographResponse" message="tns:IMonographService_UpdateMonograph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMonograph">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonographService/DeleteMonograph" message="tns:IMonographService_DeleteMonograph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonographService/DeleteMonographResponse" message="tns:IMonographService_DeleteMonograph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMonograph">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonographService/GetMonograph" message="tns:IMonographService_GetMonograph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonographService/GetMonographResponse" message="tns:IMonographService_GetMonograph_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonographService" type="tns:IMonographService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMonographByResearcher">
      <soap:operation soapAction="http://tempuri.org/IMonographService/GetMonographByResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMonograph">
      <soap:operation soapAction="http://tempuri.org/IMonographService/AddMonograph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMonograph">
      <soap:operation soapAction="http://tempuri.org/IMonographService/UpdateMonograph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMonograph">
      <soap:operation soapAction="http://tempuri.org/IMonographService/DeleteMonograph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMonograph">
      <soap:operation soapAction="http://tempuri.org/IMonographService/GetMonograph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonographService">
    <wsdl:port name="BasicHttpBinding_IMonographService" binding="tns:BasicHttpBinding_IMonographService">
      <soap:address location="http://localhost:61740/Services/MonographService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>