ResearchersWPF/ResearchersWPF.UI/Connected Services/svcPresentation/PresentationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPresentation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Presentation" nillable="true" type="tns:Presentation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresentation" nillable="true" type="tns:ArrayOfPresentation" />
  <xs:complexType name="Presentation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConferenceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresentationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Presentation" nillable="true" type="tns:Presentation" />
</xs:schema>