ResearchersWPF.UI/Connected Services/svcArticle/ArticleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArticleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61740/Services/ArticleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/ArticleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/ArticleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArticleService_GetArticleByResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleByResearcher" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticleByResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleByResearcherResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_AddArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArticle" />
  </wsdl:message>
  <wsdl:message name="IArticleService_AddArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="IArticleService_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="IArticleService_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="IArticleService_GetArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="IArticleService">
    <wsdl:operation name="GetArticleByResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetArticleByResearcher" message="tns:IArticleService_GetArticleByResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetArticleByResearcherResponse" message="tns:IArticleService_GetArticleByResearcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/AddArticle" message="tns:IArticleService_AddArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/AddArticleResponse" message="tns:IArticleService_AddArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/UpdateArticle" message="tns:IArticleService_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/UpdateArticleResponse" message="tns:IArticleService_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/DeleteArticle" message="tns:IArticleService_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/DeleteArticleResponse" message="tns:IArticleService_DeleteArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleService/GetArticle" message="tns:IArticleService_GetArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleService/GetArticleResponse" message="tns:IArticleService_GetArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArticleService" type="tns:IArticleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArticleByResearcher">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetArticleByResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddArticle">
      <soap:operation soapAction="http://tempuri.org/IArticleService/AddArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap:operation soapAction="http://tempuri.org/IArticleService/UpdateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/IArticleService/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://tempuri.org/IArticleService/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleService">
    <wsdl:port name="BasicHttpBinding_IArticleService" binding="tns:BasicHttpBinding_IArticleService">
      <soap:address location="http://localhost:61740/Services/ArticleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>