ResearchersWPF.UI/Connected Services/svcPresentation/PresentationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PresentationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61740/Services/PresentationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/PresentationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/PresentationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPresentationService_GetPresentationByResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationByResearcher" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_GetPresentationByResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationByResearcherResponse" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_AddPresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPresentation" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_AddPresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPresentationResponse" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_UpdatePresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentation" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_UpdatePresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_DeletePresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePresentation" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_DeletePresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePresentationResponse" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_GetPresentation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentation" />
  </wsdl:message>
  <wsdl:message name="IPresentationService_GetPresentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentationResponse" />
  </wsdl:message>
  <wsdl:portType name="IPresentationService">
    <wsdl:operation name="GetPresentationByResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresentationService/GetPresentationByResearcher" message="tns:IPresentationService_GetPresentationByResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresentationService/GetPresentationByResearcherResponse" message="tns:IPresentationService_GetPresentationByResearcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresentationService/AddPresentation" message="tns:IPresentationService_AddPresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresentationService/AddPresentationResponse" message="tns:IPresentationService_AddPresentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresentationService/UpdatePresentation" message="tns:IPresentationService_UpdatePresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresentationService/UpdatePresentationResponse" message="tns:IPresentationService_UpdatePresentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresentationService/DeletePresentation" message="tns:IPresentationService_DeletePresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresentationService/DeletePresentationResponse" message="tns:IPresentationService_DeletePresentation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPresentationService/GetPresentation" message="tns:IPresentationService_GetPresentation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPresentationService/GetPresentationResponse" message="tns:IPresentationService_GetPresentation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPresentationService" type="tns:IPresentationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPresentationByResearcher">
      <soap:operation soapAction="http://tempuri.org/IPresentationService/GetPresentationByResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPresentation">
      <soap:operation soapAction="http://tempuri.org/IPresentationService/AddPresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePresentation">
      <soap:operation soapAction="http://tempuri.org/IPresentationService/UpdatePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePresentation">
      <soap:operation soapAction="http://tempuri.org/IPresentationService/DeletePresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentation">
      <soap:operation soapAction="http://tempuri.org/IPresentationService/GetPresentation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PresentationService">
    <wsdl:port name="BasicHttpBinding_IPresentationService" binding="tns:BasicHttpBinding_IPresentationService">
      <soap:address location="http://localhost:61740/Services/PresentationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>