ResearchersWPF.UI/Connected Services/svcPresentation/PresentationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61740/Services/PresentationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
  <xs:element name="GetPresentationByResearcher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="researcherId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentationByResearcherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="GetPresentationByResearcherResult" nillable="true" type="q1:ArrayOfPresentation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="researcherId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="presentation" nillable="true" type="q2:Presentation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPresentationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPresentationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="presentation" nillable="true" type="q3:Presentation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePresentationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="presentationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePresentationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="presentationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" minOccurs="0" name="GetPresentationResult" nillable="true" type="q4:Presentation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>