ResearchersWPF.UI/Connected Services/svcResearcher/ResearcherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResearcher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Researcher" nillable="true" type="tns:Researcher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResearcher" nillable="true" type="tns:ArrayOfResearcher" />
  <xs:complexType name="Researcher">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcademicDegree" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentNumber" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResearcherId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Researcher" nillable="true" type="tns:Researcher" />
</xs:schema>