ResearchersWPF/ResearchersWPF.UI/Connected Services/svcResearcher/ResearcherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResearcherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61740/Services/ResearcherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/ResearcherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61740/Services/ResearcherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResearchersWPF.Service.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResearcherService_GetResearchers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResearchers" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_GetResearchers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResearchersResponse" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_AddResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResearcher" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_AddResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResearcherResponse" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_UpdateResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResearcher" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_UpdateResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResearcherResponse" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_DeleteResearcher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResearcher" />
  </wsdl:message>
  <wsdl:message name="IResearcherService_DeleteResearcher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResearcherResponse" />
  </wsdl:message>
  <wsdl:portType name="IResearcherService">
    <wsdl:operation name="GetResearchers">
      <wsdl:input wsaw:Action="http://tempuri.org/IResearcherService/GetResearchers" message="tns:IResearcherService_GetResearchers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResearcherService/GetResearchersResponse" message="tns:IResearcherService_GetResearchers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IResearcherService/AddResearcher" message="tns:IResearcherService_AddResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResearcherService/AddResearcherResponse" message="tns:IResearcherService_AddResearcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IResearcherService/UpdateResearcher" message="tns:IResearcherService_UpdateResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResearcherService/UpdateResearcherResponse" message="tns:IResearcherService_UpdateResearcher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResearcher">
      <wsdl:input wsaw:Action="http://tempuri.org/IResearcherService/DeleteResearcher" message="tns:IResearcherService_DeleteResearcher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResearcherService/DeleteResearcherResponse" message="tns:IResearcherService_DeleteResearcher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResearcherService" type="tns:IResearcherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResearchers">
      <soap:operation soapAction="http://tempuri.org/IResearcherService/GetResearchers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResearcher">
      <soap:operation soapAction="http://tempuri.org/IResearcherService/AddResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResearcher">
      <soap:operation soapAction="http://tempuri.org/IResearcherService/UpdateResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResearcher">
      <soap:operation soapAction="http://tempuri.org/IResearcherService/DeleteResearcher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResearcherService">
    <wsdl:port name="BasicHttpBinding_IResearcherService" binding="tns:BasicHttpBinding_IResearcherService">
      <soap:address location="http://localhost:61740/Services/ResearcherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>